torch
torchvision
torchaudio
pytorch_lightning
monai
nibabel
pydicom
opencv-python-headless
albumentations
transformers
einops
timm
scikit-learn
matplotlib
jupyterlab
tensorboard
pandas
numpy
Pillow
streamlit
fastapi
uvicorn