--find-links https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
pytorch-lightning
monai
nibabel
pydicom
opencv-python
albumentations
transformers
einops
timm
scikit-learn
matplotlib
jupyterlab
tensorboard